<page-header [title]="'默认页面'">
</page-header>
<div class="">
  <!--<div id="main" style="width: 600px;height:400px;"></div>-->
  <div class="dataBlock c-flex-row-start c-flex-auto-wrap">
    <div class="sectionBlock blue">
      <div class="sectionBlock_title">
        <span>12,123,123</span>
        <span>一推数字</span>
      </div>
      <img src="/assets/img/angular.png" alt="">
    </div>

    <div class="sectionBlock green">
      <div class="sectionBlock_title">
        <span>12,123,123</span>
        <span>一推数字</span>
      </div>
      <img src="/assets/img/angular.png" alt="">
    </div>

    <div class="sectionBlock orange">
      <div class="sectionBlock_title">
        <span>12,123,123</span>
        <span>一推数字</span>
      </div>
      <img src="/assets/img/angular.png" alt="">
    </div>

    <div class="sectionBlock pink">
      <div class="sectionBlock_title">
        <span>12,123,123</span>
        <span>一推数字</span>
      </div>
      <img src="/assets/img/angular.png" alt="">
    </div>
  </div>

  <div class="c-flex-auto-wrap c-flex-row-start">
    <div class="dataSection">
      <div class="title">
        这是一个图
      </div>
      <div id="main" style="width: 100%;height:400px;"></div>
    </div>

    <div class="dataSection">
      <div class="title">
        这也是一个图
      </div>
      <div id="main2" style="width: 100%;height:400px;"></div>
    </div>
  </div>
</div>

